// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Aloha AI
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-database
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/alohaai.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Aloha AI is a collaborative infrastructure/service for students to use as they learn the fundamentals of machine learning, deep learning neural networks, and computer vision.
                                | I designed the schemas for the Firebase database as well as Cloud MySQL database. I also developed a REST API using Python and Typescript to allow edge devices to communicate with the databases.
                            a(href='https://www.oceanitfoundation.org/aloha-ai/', class='btn btn-primary', target='_empty')
                                i.fas.fa-globe.fa-fw
                                | Learn More