// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 C++ Compiler
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-laptop-code
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/compiler2.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Semester-long project for CPSC 402 (Compiler Construction) at Chapman University where I collaborated in a group of 5 people to develop a compiler for a fragment of C++. This involved using Haskell to create lexers and parsers, as well as unit testing using WebAssembly.
                            a(href='https://github.com/chasetoyo/CPSC402-Assignments', class='btn btn-primary', target='_empty')
                                i.fab.fa-github.fa-fw
                                | View On GitHub