// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Restaurant POS System
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-utensils
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/preview.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Menya Le Nood is a small ramen restaurant located on Honolulu, Hawaii that is in need of a new, low-cost, highly reliable POS system.
                                | I developed a Python application using Tkinter to manage reservations and take orders in a simple and efficient manner. I also developed
                                | the database to store menu and order information in a MySQL database hosted in Cloud SQL.
                            a(href='https://github.com/chasetoyo/CPSC408-Assignments/tree/main/Final', class='btn btn-primary', target='_empty')
                                i.fab.fa-github.fa-fw
                                | View On GitHub