// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Cooking Daddy
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fab.fa-unity
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cookingdaddy.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Cooking Daddy is a 2D game built in Unity and C# where the player must catch falling ingredients in a basket. The dish will appear at the top of the screen with the listed ingredients, and then ingredients will start falling from the top of the screen. The player loses stars (start with 5 stars) if they get ingredients that aren’t listed or if they get more than the listed amount of one ingredient. The player wins if they can match the ingredient list.
                            a(href='https://github.com/chasetoyo/Cooking-Daddy', class='btn btn-primary', target='_empty')
                                i.fab.fa-github.fa-fw
                                | View On GitHub