// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Satellite Image Object Detection with Mask R-CNN
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-satellite
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/mask.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Final project for CPSC 393 (Machine Learning) at Chapman University. This is an example of using Matterports Mask R-CNN framework to detect and create masks around cars and swimming pools from satellite images. Other important applications include surveying areas via drones and detecting things such as stolen cars or fires.
                            a(href='https://github.com/chasetoyo/Satellite-Image-Detection', class='btn btn-primary', target='_empty')
                                i.fab.fa-github.fa-fw
                                | View On GitHub