// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 To-Do List
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-mobile-alt
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/todolist.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | A To Do List app implemented using Swift/Storyboards. It uses a table view to display the tasks, and uses UserDefaults to store the tasks. 
                                | There are 3 View Controllers, one for viewing tasks, one for editing tasks, and one for adding tasks. The tasks are also sortable by date and category.
                            a(href='https://github.com/chasetoyo/ToDoList', class='btn btn-primary', target='_empty')
                                i.fab.fa-github.fa-fw
                                | View On GitHub